# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
storybook-static/0.1db6407b6f251cb99757.manager.bundle.js
storybook-static/0.7ecd79b9.iframe.bundle.js
storybook-static/1.08e48cd2b295b33abac5.manager.bundle.js
storybook-static/4.38ac2809.iframe.bundle.js
storybook-static/4.38ac2809.iframe.bundle.js.LICENSE.txt
storybook-static/4.38ac2809.iframe.bundle.js.map
storybook-static/5.4d5248d1e985d19512e5.manager.bundle.js
storybook-static/5.4d5248d1e985d19512e5.manager.bundle.js.LICENSE.txt
storybook-static/5.280a809c.iframe.bundle.js
storybook-static/6.297d139ca80380169c9a.manager.bundle.js
storybook-static/6.585992ab.iframe.bundle.js
storybook-static/6.585992ab.iframe.bundle.js.LICENSE.txt
storybook-static/6.585992ab.iframe.bundle.js.map
storybook-static/7.1dd6103d8c4adf231b89.manager.bundle.js
storybook-static/7.910ed5c0.iframe.bundle.js
storybook-static/8.0c32e96f86b87a58d415.manager.bundle.js
storybook-static/9.da52dd791e7234e0495a.manager.bundle.js
storybook-static/10.58b60afe35d013b05f26.manager.bundle.js
storybook-static/11.7f35c06cd77f40a88403.manager.bundle.js
storybook-static/11.7f35c06cd77f40a88403.manager.bundle.js.LICENSE.txt
storybook-static/12.2f8d9cc3bdcfbb59dabf.manager.bundle.js
storybook-static/asset-manifest.json
storybook-static/favicon.ico
storybook-static/iframe.html
storybook-static/index.html
storybook-static/logo192.png
storybook-static/logo512.png
storybook-static/main.36c76d7d.iframe.bundle.js
storybook-static/main.57da3f9fe16e02557812.manager.bundle.js
storybook-static/manifest.json
storybook-static/robots.txt
storybook-static/runtime~main.335986b66fb5bcf65138.manager.bundle.js
storybook-static/runtime~main.cfe0e62d.iframe.bundle.js
storybook-static/vendors~main.0b7555aaeb5d052c07aa.manager.bundle.js
storybook-static/vendors~main.0b7555aaeb5d052c07aa.manager.bundle.js.LICENSE.txt
storybook-static/vendors~main.6b5e028c.iframe.bundle.js
storybook-static/vendors~main.6b5e028c.iframe.bundle.js.LICENSE.txt
storybook-static/vendors~main.6b5e028c.iframe.bundle.js.map
storybook-static/static/css/main.4e91db6a.chunk.css
storybook-static/static/css/main.4e91db6a.chunk.css.map
storybook-static/static/media/percolate.19e89b87.woff
storybook-static/static/media/percolate.944f04e6.eot
storybook-static/static/media/percolate.1527b5e7.svg
storybook-static/static/media/percolate.fae78e19.ttf
build-storybook.log
